div { position: relative; }

/* does not support IE 6/7 */
.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

/* WordPress Presentational Classes*/
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
.wp-caption { border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px }

body {
	font-size: 11px;
	font-family: "Courier New", Courier, Monaco, monospace;
	background-color: #e0d6be;
	color: #000;
}

#container {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	width: 440px;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	margin-top: 0;
	padding-top: 20px;
}

.row {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
}

img {
    padding: 0;
	margin: 0;
	border: None;
}

a:link,
a:active,
a:visited {
	color: #222;
}

a:hover {
	text-decoration: none;
}

h3 {
	margin-left: 0;
	margin-bottom: 5px;
	margin-right: 0;
	margin-top: 0;
	font-size: 18pt;
	font-weight: normal;
}

#eveve {
	width: 100%;
	height: 540px;
	border: none;
}

hr {
    background: url(../images/divider.png) no-repeat top center;
    height: 6px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    overflow: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    height: 28px;
    width: 110px;
    float: left;
    margin: 0px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
}

li:nth-of-type(1) {
    background-color: #E2A53C;
}

li:nth-of-type(2) {
    background-color: #7DDCB4;
}

li:nth-of-type(3) {
    background-color: #F98B44;
}

li:nth-of-type(4) {
    background-color: #B0B9D4;
}
